allegro
allegrow
allegro-osx
allegro-*/
*.db
*.tar.gz
*.tar.bz2
*~
allegro-msvc2015-x64-5.1.12.zip
allegro_deps-msvc2015-x64-1.2.0.zip
allegro_deps
allegro_deps-msvc2015-x86-1.2.0.zip
allegro-msvc2015-x86-5.1.12.zip
win64/allegro-msvc-x64-5.2.10.7z
win64/allegro_deps-msvc-x64-1.15.0.7z
